@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --green:#27ae60;
    --red:#dd4848;
    --dark-color:#1213122f;
    --black:rgb(0, 0, 0);
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --dark-shadow:0 0 0 100vw rgba(0,0,0,.5);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

.logo{
    font-size: 1.7rem;
    font-weight: bolder;
    color: var(--black);
}

.logo i{
    color: var(--red);
}

.box{
    width: 100%;
    margin: .5rem 0;
    font-size: 1.3rem;
    border: var(--border);
    border-radius: .5rem;
    padding: .8rem 1rem;
    color: var(--black);
    text-transform: none;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--red);
    border-radius: .5rem;
    cursor: pointer;
    padding: .9rem 3rem;
    font-weight: 500;
    text-align: center;
    width: 100%;
    margin: 1rem 0;
}

.btn:hover{
    background: var(--black);
    letter-spacing: .1rem;
}

.forgetPassword_form_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .9);
    position: fixed;
    height: 100%;
    width: 100%;
}

form{
    background: #fff;
    border: var(--border);
    width: 50rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: auto;
    align-items: center;
    justify-content: center;
}

form span{
    font-size: 1.5rem;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

form h3{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
}


/*.form-container form .box{
    height: 6rem;
    width: 90%;
    border-radius: .5rem;
    background-color: var(--bg-black);
    padding: .5rem 1.4rem;
    border: var(--border);
    margin: 2rem;
    justify-content: left;
}*/


form .box:focus-within {
    border: .2rem solid var(--black);
    padding: .4rem 1.2rem .4rem .4rem;
}

form p{
    padding-top: .5rem;
    color: var(--light-color);
    font-size: 1.3rem;
}

form p a{
    color: var(--green);
    text-decoration: underline;
}