<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0; text/html; charset=US-ASCII">
    <title>AuctionsTable - Reset Password</title>
    <!-- Fontawesome CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/forgetPassword.css}">
</head>
<body>
    <div class="forgetPassword_form_container">
        <form th:action="@{/user/resetPasswordMail}" method="post">

            <div style="text-align: center;">
                <a th:href="@{/homepage}" class="logo"><i class="fa-solid fa-gavel"></i> auctionstable</a>
            </div>

            <h3 th:utext="#{message.forgetPassword}"></h3>

            <div th:if="${message != null}" style="color: green;" th:utext="${message}">message</div>
            <div th:if="${error != null}" style="color: red;" th:utext="${error}">error</div>

            <p style="margin-bottom: 2rem;">No problem. Just let us know your email address
                and we will email you a password reset link that will allow you to choose a new one.</p>

            <div class="valid-feedback">
<!--                        {{ session()->get('status') }}-->
            </div>

            <span>Email Address</span>
            <input id="email" type="email" name="email" class="box" placeholder="email" autocomplete="email">

            <span class="invalid-feedback" role="alert">
<!--                <strong>message</strong>-->
            </span>

            <button type="submit" name="submit" class="btn">send mail</button>

            <p>Remember your password ? <a th:href="@{/userlogin}">Sign In</a><br></p>

        </form>

    </div>


<!--        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
<!--        <script th:inline="javascript">-->
<!--            var serverContext = [[@{/}]];-->

<!--            $(document).ready(function () {-->
<!--                $('form').submit(function(event) {-->
<!--                    resetPass(event);-->
<!--                });-->
<!--            });-->

<!--            function resetPass(event){-->
<!--                event.preventDefault();-->
<!--                var email = $("#email").val();-->
<!--                $.post(serverContext + "user/resetPassword",{email: email} ,function(data){-->
<!--                        window.location.href = serverContext + "login?message=" + data.message;-->
<!--                })-->
<!--                .fail(function(data) {-->
<!--                    if(data.responseJSON.error.indexOf("MailError") > -1)-->
<!--                    {-->
<!--                        window.location.href = serverContext + "emailError.html";-->
<!--                    }-->
<!--                    else{-->
<!--                        window.location.href = serverContext + "login?message=" + data.responseJSON.message;-->
<!--                    }-->
<!--                });-->
<!--            }-->

<!--            $(document).ajaxStart(function() {-->
<!--                $("title").html("LOADING ...");-->
<!--            });-->
<!--        </script>-->
</body>
</html>