<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0; text/html; charset=US-ASCII">
    <title>AuctionsTable - Reset Password</title>
    <!-- Fontawesome CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/resetPassword.css}">
    <script th:src="@{/js/pwstrength.js}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
    <div class="resetPassword_form_container">
        <form th:action="@{/user/savePassword}" method="post">

            <div style="text-align: center;">
                <a th:href="@{/homepage}" class="logo"><i class="fa-solid fa-gavel"></i> auctionstable</a>
            </div>

            <h3 th:utext="#{message.resetYourPassword}">reset</h3>

            <input type="hidden" id="oldPassword" name="oldPassword" th:value="${user.getPassword()}">

            <span>password</span>
            <input type="password" class="box" id="password" name="newPassword" placeholder="enter your password" required minlength="5" maxlength="15">
            <span id="passwordError" class="error" style="display:none"></span>

            <span>confirm password</span>
            <input type="password" class="box" id="matchPassword" name="matchingPassword" placeholder="confirm your password" required minlength="5" maxlength="15">
            <span id="globalError" class="error" style="display:none" th:utext="#{PasswordMatches.user}"></span>

            <span th:utext="#{token.message}"></span>
            <input class="box" id="token" name="token" th:value="${param.token}" readonly>
<!--            <div id="globalError" class="col-sm-12 alert alert-danger" style="display:none" th:utext="#{PasswordMatches.user}">error</div>-->

            <button class="btn" type="submit" onclick="savePass()" th:utext="#{message.updatePassword}">submit</button>
        </form>

    </div>

    <script th:inline="javascript">
      var serverContext = [[@{/}]];

      $(document).ready(function () {
          $('form').submit(function(event) {
              savePass(event);
          });

          $(":password").keyup(function(){
              if($("#password").val() != $("#matchPassword").val()){
                  $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
              }else{
                  $("#globalError").html("").hide();
              }
          });

          options = {
                  common: {minChar:8},
                  ui: {
                      showVerdictsInsideProgressBar:true,
                      showErrors:true,
                      errorMessages:{
                            wordLength: /*[[#{error.wordLength}]]*/,
                            wordNotEmail: /*[[#{error.wordNotEmail}]]*/,
                            wordSequences: /*[[#{error.wordSequences}]]*/,
                            wordLowercase: /*[[#{error.wordLowercase}]]*/,
                            wordUppercase: /*[[#{error.wordUppercase}]]*/,
                            wordOneNumber: /*[[#{error.wordOneNumber}]]*/,
                            wordOneSpecialChar: /*[[#{error.wordOneSpecialChar}]]*/
                          }
                      }
              };
           $('#password').pwstrength(options);
      });

      function savePass(event){
          event.preventDefault();
          $(".alert").html("").hide();
          $(".error-list").html("");
          if($("#password").val() != $("#matchPassword").val()){
              $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
              return;
          }
          var formData= $('form').serialize();
          $.post(serverContext + "user/savePassword",formData ,function(data){
              window.location.href = serverContext + "login?message="+data.message;
          })
          .fail(function(data) {
              if(data.responseJSON.error.indexOf("InternalError") > -1){
                  window.location.href = serverContext + "login?messageKey=" + data.responseJSON.message;
              }
              else{
                  var errors = $.parseJSON(data.responseJSON.message);
                  $.each( errors, function( index,item ){
                      $("#globalError").show().html(item.defaultMessage);
                  });
                  errors = $.parseJSON(data.responseJSON.error);
                  $.each( errors, function( index,item ){
                      $("#globalError").show().append(item.defaultMessage+"<br/>");
                  });
              }
          });
      }

    </script>

</body>
</html>